.page_title {
	background-image: url(./images/pagetitle/delivery.png);
	background-position: right;
	background-size: 900px;
}

.title {
	color: white;
	text-shadow: 0 0 5px #35353580;
	width: 450px;
	position: absolute;
	top: 200px;
	left: 5rem;
}

.delivery_wrap {
	width: 960px;
	margin: auto;
}

.select_period {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn_search {
	color: white;
	background-color: #565656;
	border-radius: 50px;
	margin: 0;
	margin-left: auto;
}

.btn_search:hover {
	background-color: #717171;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    border: solid 1px;
    font-size: 13px;
    cursor: pointer;
}

input[type=radio]+label:hover {
    box-shadow: none;
    background-color: rgba(255, 213, 227, 0.5);
}

.select_period_date {
	display: flex;
	justify-content:space-between;
	align-items: center;
	
	width: 350px;
	background-color: white;
	text-align: center;
	font-size: 20px;
	border: solid 1px;
    border-radius: 50px;
    padding: 0.3rem 0.5rem;
}

input[type=date] {
	outline:none;
	border:none;
	border-radius: 50px;
	padding: 6px 0.7rem;
	text-align: center;
    font-size: 12px;
}

input[type=date]:hover {
	background-color: #eee;
}

.delivery_list {
	border-collapse: collapse;
	width: 100%;
	margin: 1rem 0;
	
	text-align: center;
}

.delivery_index th {
	background-color: #ccc;
	padding: 6px;
}

.delivery_item td {
	background-color: white;
	padding: 12px;
}

.delivery_item {
	border-top: 1px solid;
}

.delivery_item:first-child {
	border: none;
}

.order_btn {
	display: block;
	background: none;
	border-radius: 12px;
	border: 1px solid;
	font-size: 15px;
	font-weight: bold;
	transition: 0.5s;
}

.order_btn:hover {
	color: white;
	background: linear-gradient(to right, skyblue, pink);
	transition: 0.5s;
}
