footer {
	position:inherit;
	background-color: #333;
	padding: 2rem 1rem;
	margin-top: 2rem;
}

.footer_info {
	width: 80%;
	word-break: break-all;
	text-align: center;
	font-size: 12px;
	line-height: 180%;
	color: #aaa;
	margin: auto;
}