.sns_box {
	padding: 2rem;
	border: 1px solid #e3e3e3;
}

.sns_item {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
	border-radius: 8px;
	margin: 0 auto;
	width: 80%;
	cursor: pointer;
}

.sns_item:hover {
	filter: brightness(96%);
}

.sns_item.kakao {
	background:rgb(255,235,59);
}

.sns_item > p {
	padding: 0 2rem;
	border-left: 2px solid white;;
}

.sns_icon {
	width: 50px;
}


.skyblue {
	border: 1px solid skyblue;
	flex-grow:1;
}

.pink {
	border: 1px solid pink;
	flex-grow:1;
}

.skyblue:hover {
	background: rgba(135,206,235,0.2);
}

.pink:hover {
	background: rgba(255,192,203,0.2);
}

.span_txt {
	display: block;
	margin: 1rem auto;
	text-align: center;
	font-size: 14px;
}

.span_txt a:hover {
	text-decoration: underline;
}