@keyframes fadeIn{
	0%{opacity: 0}
	100%{opacity: 1}
}

@keyframes fadeOut{
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes textIn {
	0%{
		transform: translateX(-10px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity:1;
	}
}

@keyframes divIn {
	0%{
		transform: translateY(30px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity:1;
	}
}

#topbtn {
    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 20px;

    text-align: center;
    font-weight: 900;
    color: white;

    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: linear-gradient(skyblue, pink);

    cursor: pointer;    
}

.off {
	animation: fadeOut 0.5s;
    transition: 0.5s;
    transform: translate(0, -5px);
    visibility: hidden;
}

.intro_background {
    background-color: black;
    height: 640px;
    overflow: hidden;
    margin: auto;
    width: 100%;
    min-width: 960px;

    position: relative;
}

.intro_background img {
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
}

.main_intro {    
    text-align: center;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_intro input[type="button"] {
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;
	
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    color: white;
    border-radius: 500px;
    box-shadow: 0px 0px 100px black;

    width: 35px;
    height: 35px;

    font-size: 15px;
    font-weight: lighter;
    
    cursor: pointer;
}

.main_intro_h1 {
    color: white;
    text-shadow: 0px 0px 30px black;
    font-size: 45px;
    margin: 10px;
    
    animation: textIn 1.5s;
}

.main_intro_p {
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 18px;
    opacity: 0;
    animation: textIn 1.5s 0.5s;
    animation-fill-mode: forwards;
}


/* 배너 */
.banners {
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    animation: divIn 1.5s 0.5s;
    animation-fill-mode: forwards;
}

.banners div {
    background-color: #eee;
    border-radius: 20px;
    width: 550px;
    min-width: 400px;
    height: 250px;
    margin: 20px;

    padding: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;
}

.ban_item {
	cursor: pointer;
	transition: 0.5s;
}

.ban_item:hover {
	transform: scale(1.02);
}

.ban1 {
    background-image: url(../css/images/main/london-g1c5172a27_1920.jpg);
    background-size: 800px;
}

.ban2 {
    background-image: url(../css/images/main/headphones-g1c73dec84_1920.jpg);
    background-size: 800px;
    background-position: center;
}

/* 상품관련 */

/* 베스트상품 */
.main_best {
    text-align: center;
    margin: 50px 0px;
    
    opacity: 0;
    animation: divIn 1.5s 1s;
    animation-fill-mode: forwards;
}

.main_best h2 {
    padding: 20px;
    color: white;
}

.main_best > hr {
    width: 1px;
    height: 100px;
    margin: auto;
}

.best_goods {
    background: linear-gradient(to right, rgba(135, 207, 235, 0.7), rgba(255, 192, 203, 0.7));
    padding: 3rem 0;
}

.best_goods_wrap {
    margin: auto;  
    padding: 2rem 0;
    
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.best_item {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    
    width: 100%;
    max-width: 270px;
    height: 550px;

    margin: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    
    cursor: pointer;
    transition: 0.5s;
}

.best_item img {
    margin: 20px;
}

.best_item:hover {
	transform: translate(0, -10px);
	transition: 0.5s;
    text-shadow: 0px 0px 10px #aaa;
}

.best_info {
    font-size: 0.9em;
    line-height: 180%;
    color: #555;
}

.best_info > h3 {
    background-color: #eee;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px;
}

.best_info .line-through {
	text-decoration: line-through;
}

.best_info .emphasis {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

.best_goods input {
    width: 250px;
    height: 50px;
    margin: 20px;

    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    background-color: rgba(0,0,0,0);
    
    cursor: pointer;
}

.best_goods input:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* 판매상품 */
.main_products {
    text-align: center;
    margin: 200px 0px;
    
    opacity: 0;
    animation: divIn 1.5s 1.5s;
    animation-fill-mode: forwards;
}

.main_products > h2 {
    margin: 50px;
}

.products_wrap {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_wrap .products_left_item {
    background-image: url(../css/images/main/technology-gcf2dad002_1920.jpg);
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;

    margin: 10px;
    width: 400px;
    height: 510px;

    color: white;
    text-shadow: 0px 0px 20px #333;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 1s;
}

.products_left_item:hover {
	background-size: 850px;
	transition: 1s;
}

.products_left_item h3 {
	color: white;
}

.products_wrap .products_right_item {
    width: 640px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products_wrap .products_right_item div {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #eee;
    border-radius: 18px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: 0.5s;
}

.products_right_item div:hover {
	transform: translate(0, -5px);
	transition: 0.5s;
}

.products_wrap img {
    height: 150px;
    margin: 20px;
}

@media screen and (max-width:960px) {
	.intro_background {
    	background-color: black;
    	height: 400px;
		overflow: hidden;
		margin: auto;
		width: 100%;
		min-width: 450px;
		position: relative;
	}
	
	.intro_background img {
		width: 150%;
		position: absolute;
		z-index: 1;
		opacity: 0.6;
	}
	
	.main_intro_h1 {
		color: white;
		text-shadow: 0px 0px 30px black;
		font-size: 32px;
		margin: 10px;
		animation: textIn 1.5s;
	}
	
	.main_intro_p {
		color: white;
		text-shadow: 0px 0px 20px black;
		font-size: 15px;
		opacity: 0;
		animation: textIn 1.5s 0.5s;
		animation-fill-mode: forwards;
	}
	
	.banners {
		height: 400px;
	}
	
	.banners div {
		height: 150px;
		min-width: 250px;
	}
	
	.best_goods_wrap {
		margin: auto;
		padding: 2rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	}
	
	.best_item {
		background-color: white;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
		border-radius: 18px;
		
		width: 450px;
		max-width: none;
		height: auto;
		margin: 15px;
		padding: 20px;
		
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: space-between;
		cursor: pointer;
		transition: 0.5s;
	}
	
	.best_item img {
		margin: 20px;
		height: 150px;
	}
	
	.best_info {
		margin: 0 auto;
	}
	
	.products_wrap  {
		margin: auto;
		min-width: 540px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	
	.products_wrap .products_left_item  {
		background-size: 500px;
		background-position: top;
		width: 420px;
		height: 200px;
		border-radius: 18px; 
		transition: 1s;
	}
	
	.products_left_item:hover {
		background-size: 520px;
		transition: 1s;
	}
	
	.products_wrap .products_right_item {
		width: 450px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		transition: 1s;
	}
	
	.products_wrap .products_right_item div {
    	width: 200px;
    	height: 200px;
    	margin: 10px;
    	
    	font-size: 14px;
	}
	
	.products_wrap .products_right_item img {
		height: 120px;
	}

}

