.product_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product_options {
    width: 500px;
    border-radius: 12px;
    background-color: white;
    
    padding: 2rem;
    margin: 1rem;
}

.product_image {
    border-radius: 12px;
    background-color: white;
    
    padding: 2rem;
    margin: 1rem;
}

.product_image img {
	width: 500px;
}

.option_div {
    margin: 1rem 0;
}

#totla_price {
    padding: 1rem;
}

.device_name {
    color: #333;
    font-weight: 500;
    margin-bottom: 2rem;
}

.option_name {
    width: 100px;
    margin-bottom: 10px;
    color: #666;
    font-size: 0.9em;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    min-width: 100px;
}

input[type=radio]:checked+label {
    border: 2px solid #333;
}

input[type=radio]+label:hover {
    cursor: pointer;
}

.device_colors {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;

}

.color_chip {
    border-radius: 100%;
    width: 22px;
    height: 22px;
    margin: 2px;
}


#device_color1 {
    background-color: #3c3c3c;
}

#device_color2 {
    background-color: #ff9dae;
}

#device_color3 {
    background-color: #1330a2;
}

#device_color4 {
    background-color: #e9daba;
}

#device_color5 {
    background-color: #de3207;
}

.calc_price {
	margin-top: 2rem;
	border-top: 1px solid;
	padding: 2rem 0;
}

.calc_price label {
	display: inline-block;
	width: 100px;
}

input[type=number] {
	outline:none;
	border:none;
	background: none;
	
	display: inline-block;
	margin: 0;
	text-align: right;
	font-size: inherit;
}

#total_price {
	color: #ff375a;
	font-size: 30px;
	font-weight: bold;
}

.price_option3 {
	color: #ff375a;
}

.device_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detail_page_menu {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-right: 1px solid white;
}

.product_detail_image {
    text-align: center;
    width: 1240px;
}