.request_option_box {
	margin: 3rem;
	padding: 1rem;
	
	border: 1px solid #ccc;
	border-radius: 12px;
	box-shadow: 2px 2px 10px #eee;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.request_option_item {
	display: flex;
	margin: 1rem;
}
.request_product {
	background: pink;
	padding: 2rem;
}

.request_price {
	background: skyblue;
	padding: 2rem;
}