section {
	padding: 2rem;
}

.form_container {
	width: 640px;
	margin: 2rem auto;
	padding: 3rem;
	padding-bottom: 4rem;
	border-radius: 12px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	background: white;
}

.form_title {
	padding: 1rem;
	margin: 1rem auto;
	width: 540px;
	text-align: center;
	color: rgb(75, 75, 75);
}

.logo {
	font-size: 30px;
    background: linear-gradient(to right, skyblue, pink);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 34px;
}

.form_title h1 {
	font-size: 30px;
	padding: 0.5rem;
}

.form_heading {
	color: #666666;
	padding: 1rem 2rem;
	margin: 2rem 1rem 0 1rem;
}

.form_heading h3 {
	padding: 4px 12px;
	border-radius: 8px 8px 0 0;
	background-color: #e3e3e3;
}

.labels {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 0.5rem;
	width: 100%;
	color: #6a6a6a;
}

.input_boxes {
	padding: 0 2rem;
}

.input_box {
	margin: 1rem;
	height: 90px;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
}

.input_item {
	outline: none;
	border:none;
	border-bottom: 1.5px solid #aaa;
	border-radius: 4px 4px 0 0;
	margin:0 0.5rem 0.5rem 0.5rem;
	padding: 0.5rem;
	font-size: 15px;
	margin-right: 1rem;
	flex-grow: 2;
}

.input_item:focus {
	background-color: #f7f7f7;
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right, skyblue, pink);
    border-image-slice: 1;
}

.input_item::placeholder {
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right, skyblue, pink);
    border-image-slice: 1;
}


.point {
	color: palevioletred;
}

.necessary {
	display: block;
	text-align: right;
	color: palevioletred;
	font-size: 12px;
	margin-left: auto;
}

.btns {
	margin: 1rem auto;
	padding: 1rem 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.btn {
	display: block;
	border: none;
	border-radius: 8px;
	background-color: #dadada;
	font-size: 12px;
	padding: 6px 12px;
	cursor: pointer;
}

.btn_alt {
	border: 1.5px solid #aaa;
	background: none;
}

.btn_alt:hover {
	background-color: #eaeaff;
}

.submit_btn {
	display: block;
	margin: 1rem auto 0;
	padding: 1rem 5rem;
	border-radius: 12px;
	background: linear-gradient(to right, skyblue, pink);
	color: white;
	text-shadow: 0 0 3px rgba(0,0,0,0.3);
	font-size: 15px;
	font-weight: bold;
	width: 95%;
}

.submit_btn:hover {
	box-shadow: 0 0 10px #d0d0ff;
}

.button_btn {
	display: block;
	margin: 1rem;
	padding: 0.8rem 2rem;
	border-radius: 12px;
	
	background: none;
	font-size: 15px;
	font-weight: bold;
}

.skyblue {
	border: 1px solid skyblue;
	flex-grow:1;
}

.pink {
	border: 1px solid pink;
	flex-grow:1;
}

.skyblue:hover {
	background: rgba(135,206,235,0.2);
}

.pink:hover {
	background: rgba(255,192,203,0.2);
}

.span_txt {
	display: block;
	margin: 1rem auto;
	text-align: center;
	font-size: 14px;
}

.span_txt a:hover {
	text-decoration: underline;
}

.sns_icons {
	display: flex;
	justify-content: center;
	padding: 2rem;
	border: 1px solid #e3e3e3;
}

.sns_icon {
	width: 50px;
	margin: 0.5rem 1rem;
	border-radius: 12px;
}